[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-admin = "*"
flask-babelex = "*"
flask-sqlalchemy = "*"
tablib = "*"
sqlalchemy-utils = "*"
arrow = "*"
colour = "*"
email-validator = "*"
flask-mysql = "*"
mysqlclient = "*"
flask-migrate = "*"
gunicorn = "*"
celery = "*"
requests = "*"
flask-talisman = "*"
flask-seasurf = "*"
flask-security = "*"
bcrypt = "*"
python-logstash = "*"

[requires]
python_version = "3.7"
